.Rproj.user
.Rproj.user/E014FAC7/pcs/workbench-pane.pper
.Rproj.user/E014FAC7/rmd-outputs
.Rproj.user/E014FAC7/sources/per/t/EC319541
.Rproj.user/E014FAC7/sources/per/t/EC319541-contents
.Rproj.user/E014FAC7/sources/prop/F3E65138
.Rproj.user/shared/notebooks/4E7E9A6F-RR assignment week 2/1/s/chunks.json
